{# custom/plugins/StrixNLUxUpgrades/src/Resources/views/storefront/page/strix-styleguide/partials/_badges.html.twig #}
{% from '@StrixNLUxUpgrades/storefront/page/strix-styleguide/partials/_macros.html.twig' import cap %}

{{ cap('Badges') }}

<div class="border rounded-1 p-3">
	<p class="mb-0">
		<span class="badge text-bg-primary me-1">Primary</span>
		<span class="badge text-bg-secondary me-1">Secondary</span>
		<span class="badge text-bg-success me-1">Success</span>
		<span class="badge text-bg-info me-1">Info</span>
		<span class="badge text-bg-warning me-1">Warning</span>
		<span class="badge text-bg-danger me-1">Danger</span>
		<span class="badge text-bg-dark me-1">Dark</span>
		<span class="badge text-bg-light text-dark">Light</span>
	</p>
</div>
