{# custom/plugins/StrixNLUxUpgrades/src/Resources/views/storefront/page/strix-styleguide/partials/_links.html.twig #}
{% from '@StrixNLUxUpgrades/storefront/page/strix-styleguide/partials/_macros.html.twig' import cap %}

{{ cap('Links') }}

<div
	class="row g-3">
	{# ---------- Basics & States ---------- #}
	<div class="col-lg-6">
		<div class="border rounded-1 p-3 h-100">
			<div class="small text-muted text-uppercase mb-2">Basics</div>
			<p class="mb-2">
				<a href="#">Default link</a>
				inside body text.
			</p>
			<p class="small text-muted mb-0">
				Uses
				<code>--bs-link-color</code>
				and
				<code>--bs-link-hover-color</code>.
			</p>

			<hr class="my-3">

			<div class="small text-muted text-uppercase mb-2">Disabled</div>
			<p class="mb-0">
				<a class="link-secondary disabled" href="#" tabindex="-1" aria-disabled="true">Disabled link</a>
				<span class="small text-muted ms-1">(.disabled +
					<code>aria-disabled="true"</code>)</span>
			</p>
		</div>
	</div>

	{# ---------- Color variants ---------- #}
	<div class="col-lg-6">
		<div class="border rounded-1 p-3 h-100">
			<div class="small text-muted text-uppercase mb-2">Color variants</div>
			<div class="d-flex flex-wrap gap-3">
				<a class="link-primary" href="#">.link-primary</a>
				<a class="link-secondary" href="#">.link-secondary</a>
				<a class="link-success" href="#">.link-success</a>
				<a class="link-info" href="#">.link-info</a>
				<a class="link-warning" href="#">.link-warning</a>
				<a class="link-danger" href="#">.link-danger</a>
				<a class="link-dark" href="#">.link-dark</a>
			</div>
			<p class="small text-muted mb-0 mt-2">
				Bootstrap link utilities:
				<code>.link-*</code>
			</p>
		</div>
	</div>

	{# ---------- Stretched link card ---------- #}
	<div class="col-12">
		<div class="border rounded-1 p-3">
			<div class="small text-muted text-uppercase mb-2">Stretched link</div>

			<div class="row g-3">
				<div class="col-md-6">
					<div class="card h-100">
						<div class="card-body position-relative">
							<h5 class="card-title mb-1">Card with stretched link</h5>
							<p class="card-text small text-muted mb-2">
								The anchor expands to cover the card via
								<code>.stretched-link</code>.
							</p>
							<a href="#" class="stretched-link">Read more</a>
						</div>
					</div>
				</div>

				<div class="col-md-6">
					<div class="border rounded p-3 h-100">
						<div class="small text-muted mb-1">Usage notes</div>
						<ul class="small mb-0">
							<li>Parent must be
								<code>position: relative</code>
								(e.g.,
								<code>.card-body</code>).</li>
							<li>Keep a visible link label for accessibility.</li>
						</ul>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
