<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/trunk/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Remove item with zero quantity</title>
        <input-field type="bool">
            <name>enableQuantityOverride</name>
            <label>Enable zero-quantity remove (quantity input override)</label>
            <defaultValue>true</defaultValue>
        </input-field>
    </card>

    <card>
        <title>Show amount of products found in listing</title>
        <input-field type="bool">
            <name>enableListingResultsLabel</name>
            <label>Enable product count display in listing</label>
            <defaultValue>true</defaultValue>
        </input-field>
    </card>
    
</config>
