.sw-cms-preview-strix-block-latest-orders {
  min-height: 80px;
  display: flex;
  gap: 8px;
  padding: 16px;
  border: 1px dashed var(--color-gray-300);
  border-radius: 6px;
  align-items: center;
  justify-content: center;
}

.sw-cms-block-strix-block-latest-orders {
  min-height: 80px;
}

.sw-cms-el-strix-latest-orders {
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dashed var(--color-gray-300);
  border-radius: 6px;
  background: var(--color-gray-100);
}
