<div class="sw-cms-el-config-strix-latest-orders">
    <sw-number-field v-model="element.config.numberOfOrders.value" :min="1" :step="1" :label="$tc('sw-cms.elements.strix-latest-orders.config.numberOfOrders')"></sw-number-field>
</div>
